

/* profile-bar */
.user-component{
    display: flex;
    position: relative;
    

    padding: 14px 0px 14px 0px;
    align-items: center;
    box-sizing: border-box;

    border-bottom: solid rgb(222,222,223) 1px;

}

.user-component__column:first-child{

    display: flex;
    align-items: center;

}


.user-component__avatar{
    width: 70px;
    height: 70px;
    border-radius: 28px;
    margin-right: 16px;



    /* 2022-08-14 굳이..... img위에 div쓰고 border-radius 작성할 필요가 없다. 왜냐하면 there is no effect and 
    ijust use img + border-radius... so it will be work... */

}

.user-component__title{
    font-size: 17px;
    font-weight: 600;

}
.user-component__subtitle{
    font-size: 15px;

    margin-top: 8px;
    color:rgb(147, 145, 145);
}

.user-component__avatar--sm{
    width: 50px;
    height: 50px;
    border-radius: 19px;
    position: relative;
    
}
.user-component__avatar--m{
    width: 60px;
    height: 60px;
    border-radius: 25px;
    position: relative;
    
}


.user-component__column:nth-child(2){

    display: flex;

    align-items: center;
    margin-top: 15px;


}

/* birthday-bar */
.user-component__channel-header{    
    width:100%;

    font-size: 12px;
    color: rgb(120, 120, 120);
    display: flex;
    justify-content: space-between;
   
    

}


.user-component__has-side-title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}

.user-component__flex-end{
    color:  rgb(159,159,159);
    font-size: 12px;
    position: relative;
    margin-bottom: 15px;



}


.user-component__column:nth-child(3){

    display: flex;

    align-items: center;
    margin-top: 15px;


}


.exists-subtitle{

    display: block;
    

    align-items: center;
    box-sizing: border-box;

    border-bottom: solid rgb(222,222,223) 1px;


}
.no-subtitle{
    display: block;
    

    padding: 14px 0px 14px 0px;
    align-items: center;
    box-sizing: border-box;

    border-bottom: solid rgb(222,222,223) 1px;
}

.normal__font-weight{
    font-size: 17px;
    font-weight: 500;

}

.user-component__subtitle_and_side-title{
   


    width: 100%;
    display: flex;
    justify-content: space-between;
}

.user-component__title-fix{
    position: absolute;
    left:70px;

}



.friend__notification__number{
    position: absolute;
    top:20px;
}

.user-component__more-options{
    display: flex;
    justify-content: center;
    font-size: 30px;
    margin-top: 10px;
}
.user-component__more-options span{
    font-size: 20px;
    display: flex;
    
}

.user-component__more-options div{

    justify-content: center;
    align-items: center;
    
}